@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

body {
	margin: auto;
	width: 80ch;
	font-family: "Roboto Flex";
	font-weight: 300;
	letter-spacing: 0.01em;
}

b {
	font-weight: 500;
}

header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 2em 0 4em 0;
}

header > a {
	text-align: center;
}

footer {
	text-align: center;
	margin: 6em 0 4em 0;
}

blockquote {
	font-style: italic;
	font-weight: 500;
	margin: 1.5em 2em;
	font-size: 1.0625em;
}

h2 {
	margin: 1.75em 0 0.5em 0;
}
